<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-3 mb-4">
        Contabilidad Mensual {{ month | titlecase }} {{ year }}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 mt-2">
      <div class="card hvr-grow-shadow">
        <div class="card-body">
          <h5 class="card-title">
            Ingresos
            <a
              class="edit-earning"
              data-bs-toggle="modal"
              data-bs-target="#modalEdit"
              title="Editar"
              ><i class="bi bi-pen fw-bold"></i
            ></a>
          </h5>
          <p class="card-text fs-2 text-success text-center">
            <i class="bi bi-arrow-up fw-bold"></i>
            $ {{ this.formatMoney(getEarning) }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 mt-2">
      <div class="card hvr-grow-shadow">
        <div class="card-body">
          <h5 class="card-title">Gastos</h5>
          <p class="card-text fs-2 text-danger text-center">
            <i class="bi bi-arrow-down fw-bold"></i>
            $
            {{
              dataLocal.length > 0
                ? this.formatMoney(getExpense)
                : this.formatMoney(0)
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-auto mt-2">
    <div class="card hvr-grow-shadow">
      <div class="card-body">
        <h5 class="card-title">Balance</h5>
        <p
          [ngClass]="getBalance > 0 ? 'text-success' : 'text-danger'"
          class="card-text fs-2 text-center"
        >
          <i
            [ngClass]="
              getBalance > 0
                ? 'bi bi-arrow-up fw-bold'
                : 'bi bi-arrow-down fw-bold'
            "
          ></i>
          $ {{ this.formatMoney(getBalance) }}
        </p>

        <!-- Inicio Mensajes -->
        <div
          class="alert alert-danger text-center"
          role="alert"
          *ngIf="getBalance <= 0"
        >
          Debes gastar menos, porque estás gastando más de lo que ganas y se
          está rompiendo el equilibrio <i class="bi bi-emoji-dizzy fw-bold"></i>
        </div>
        <div
          class="alert alert-warning text-center"
          role="alert"
          *ngIf="getBalance > 0 && getBalance <= 100000"
        >
          El equilibrio se está viendo un poco amenazado
          <i class="bi bi-emoji-expressionless fw-bold"></i>
        </div>
        <div
          class="alert alert-success text-center"
          role="alert"
          *ngIf="getBalance > 100000"
        >
          Se mantiene el equilibro de las finanzas actualmente. Todavía tenemos
          oportunidad de darnos lujitos
          <i class="bi bi-emoji-heart-eyes-fill fw-bold"></i>
        </div>
        <!-- Fin Mensajes -->
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4">
      <select
        [(ngModel)]="selectedMonth"
        (change)="filterExpenses()"
        class="form-select"
      >
        <option value="">Seleccione un mes para filtrar</option>
        <option *ngFor="let month of months; let i = index" [value]="i + 1">
          {{ month }}
        </option>
      </select>
    </div>
    <div class="col-4">
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#modalCreate"
      >
        <i class="bi bi-plus fw-bold"></i> Agregar gasto
      </button>
    </div>
  </div>
  <hr class="mt-4 mb-4" />
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="text-center">
          <tr>
            <th scope="col"># Transacción</th>
            <th scope="col">Descripción</th>
            <th scope="col">Valor</th>
            <th scope="col">Fecha registro</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <td colspan="6" *ngIf="!dataLocal.length">
              <span>No hay gastos registrados</span>
            </td>
          </tr>
          <tr *ngFor="let item of dataLocal">
            <th scope="row" width="130">
              {{ item?.id }}
            </th>
            <td>{{ item?.description }}</td>
            <td width="180">
              <span
                [ngClass]="item?.state ? 'text-primary fw-bold' : 'text-danger'"
                >-{{ this.formatMoney(item?.amount) }}</span
              >
            </td>
            <td width="200">{{ item.createdAt }}</td>
            <td width="150">
              <span
                [ngClass]="item?.state ? 'badge bg-primary' : 'badge bg-danger'"
                ><i [ngClass]="item?.state ? 'bi bi-check-lg' : 'bi bi-x'"></i>
                {{ item?.state ? "PAGADO" : "SIN PAGAR" }}</span
              >
            </td>
            <td width="150">
              <div class="row">
                <div class="col-6">
                  <a
                    [ngStyle]="{
                      'pointer-events': item.state ? 'none' : 'auto'
                    }"
                    class="options"
                    (click)="updatePay(item.id)"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                    title="Pagar"
                    >Pagar</a
                  >
                </div>
                <div class="col-6">
                  <a
                    class="options"
                    (click)="remove(item.id)"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Eliminar"
                    >Eliminar</a
                  >
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <nav
        aria-label="Page navigation example"
        *ngIf="totalPages > 1 && isVisiblePagination"
      >
        <ul class="pagination justify-content-end">
          <li class="page-item" [ngClass]="{ disabled: page === 1 }">
            <a class="page-link" aria-label="Previous" (click)="previousPage()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li
            class="page-item"
            *ngFor="let numberPage of numberPages"
            [ngClass]="{ active: numberPage === page }"
            (click)="page = numberPage"
          >
            <a class="page-link" (click)="getExpenses(numberPage)">{{
              numberPage
            }}</a>
          </li>
          <li
            class="page-item"
            [ngClass]="{ disabled: this.page === this.totalPages }"
          >
            <a class="page-link" aria-label="Next" (click)="nextPage()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="d-flex flex-row-reverse bd-highlight">
      <div class="alert alert-info text-end text-muted col-xs-12 col-md-6">
        <i class="bi bi-info-fill"></i> Total gastos:
        <b>{{ dataLocal.length }}</b> registros - Total Por Pagar:
        <b>{{ getNoPaid }}</b> - Total pagados: <b>{{ getPaid }}</b>
      </div>
    </div>
  </div>
</div>

<footer class="p-5">
  <p class="text-muted text-center">
    {{ year }} - Desarrollado con Amor por Einer Bravo
  </p>
</footer>

<!-- Create -->
<div
  class="modal fade"
  id="modalCreate"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear gasto</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" novalidate>
          <div class="mb-3">
            <label for="description" class="form-label fw-bold"
              >Descripción</label
            >
            <textarea
              id="description"
              class="form-control"
              cols="10"
              formControlName="description"
            ></textarea>
            <span
              *ngIf="form.get('description')?.errors?.['required']"
              class="text-danger"
            >
              <small>La descripción es requerida</small>
            </span>
          </div>
          <div class="mb-3">
            <label for="amount" class="form-label fw-bold">Monto</label>
            <input
              id="amount"
              type="number"
              class="form-control"
              formControlName="amount"
            />
            <span
              *ngIf="form.get('amount')?.errors?.['required']"
              class="text-danger"
            >
              <small>El monto es requerido</small>
            </span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn"
          data-bs-dismiss="modal"
          #closeModalCreate
        >
          Cerrar
        </button>
        <button
          type="button"
          [disabled]="!form.valid"
          (click)="createExpense()"
          class="btn btn-success"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit -->
<div
  class="modal fade"
  id="modalEdit"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar monto</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input type="number" class="form-control" #amount />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn"
          data-bs-dismiss="modal"
          #closeModalEdit
        >
          Cerrar
        </button>
        <button type="button" class="btn btn-success" (click)="save(amount)">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
